<%= render "shared/header" %>

<div class="container">
    <div class="spacer"></div>
    <div class="form_container">
        <h2>New Team</h2>
        <%= render 'teams/form', team: @team %>
    </div>
</div>
